header {
  padding: 10px 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, .4);
}

header a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #000;
}

header a.active {
  background: #000;
  color: #fff;
}

.wrap {
  padding: 50px;
}

.todo.done {
  background: green;
  color: #fff;
}

.todo {
  list-style-type: none;
  padding: 20px;
}